body {
    flex-direction: column;
    height: 100vh;
    flex-basis: 90vw;
    display: flex;
    justify-items: center;
}
.main-head{
    text-align: center;
}
.stock-header{
    display: flex;
    width: 30%;
    padding-right: 20%;
    align-self: center;
    justify-self: center;
}
.s-h{
    font-size: smaller;
    margin: 0 2%;
    white-space: nowrap;
    align-self: flex-start;
}

.stock-main, .users-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.stock-main{
    border-bottom: solid black 1px;
}
.stock, .user{
    width: 50%;
    align-self: center;
    justify-self: center;
    height: 8vh;
    margin: 1% 2%;
}
.stock-price{
    align-self: center;
    justify-self: center;
    width: 25%;
}
.stock-name, .stock-input, .buy-btn, .sell-btn, .username, .user-balance, .users-shares{
    padding: 2%;
    align-self: center;
    justify-self: center;
    width: 10%;
}
.stock-form, .user{
    padding: 0 1%;
    background-color: rgba(128, 128, 128, 0.349);
    display: flex;
    justify-content: space-between;
}
.user{
    display: flex;
    flex-direction: row;
}

.users-shares{
    width: 55%;
    height:70%;
    border: 1px solid violet;
    flex-direction: row;
    justify-content: space-between;
}

.company-name{

}
.quantity{

}